@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Importação da fonte "Montserrat", utilizada abaixo:*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; /*Usando Montserrat*/
}

body{
    /*background: rgb(11,112,0);
    background: linear-gradient(113deg, rgba(11,112,0,1) 23%, rgba(28,121,9,1) 23%, #00ff96 82%);*/
    /*background: rgb(255,255,255);
    background: linear-gradient(54deg, rgba(255,255,255,1) 9%, rgba(184,255,170,1) 52%, rgba(80,200,120,1) 83%);*/
    background: #50C878;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
} 
/*Formatação do corpo do site (Fundo). Foi utilizado o site: https://cssgradient.io/ para pegar o gradiente*/

.container{
    color: rgb(0, 75, 29);
    outline: rgb(0, 255, 128);
    outline-width: 15px;
    background-color: #ffffff;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    width: 750px;
    max-width: 100%;
    height: 80%;
}
/*O "container" é a caixa onde se encontram os espaços para inserir e-mail, senha, e também para redirecionar o usuário para a tela de "Esqueceu a senha"*/

.sign-in{
    left: 0;
    width: 100%;
    z-index: 2;
}
.container h1{
    margin-top: -20px;
}
.container p{
    color: rgb(255, 255, 255);
    outline: rgb(0, 255, 128);
    outline-width: 15px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.total{
    text-align: center;
    position: relative;
    font-size: 20px;
    margin-top: -20px;

}
.container a{
    color: #063511;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    outline: rgb(0, 255, 128);
    outline-width: 15px;
}

.container .entries-container{
    background-color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
}

.registers {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.registers span {
    border: 1px solid #46a164;
    padding: 8px 16px;
    width: 100px;
    margin-bottom: -20px;
    margin-top: -10px;
    color: #063511;
    font-size: 1rem;
    border-radius: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}
.registers span.active {
    background-color: #063511;
    color: #fff;
}
.registers .entry:hover,
.registers .exit:hover{
    background-repeat: no-repeat;
    border-color: #fff;
    background-color: #46a16583;
    color: #ebfcf0;
}
.entry-content,
.exit-content {
    flex-direction: column;
    display: flex;
    flex: 1;
    max-height: calc(100% - 130px);
}

.entry-content.none,
.exit-content.none {
    display: none;
}

.entries-grid {
    display: flex;
    gap: 20px;
    max-height: calc(100% - 200px);
    flex-direction: column;
    padding: 0 40px;
    flex: 1;
    overflow-y: auto;
}

.entries-grid .entry:first-of-type {
    margin-top: 30px;
}

.entries-grid .entry {
    display: flex;
    gap: 20px;
    align-items: center;
}

.entries-grid .entry i {
    font-size: 2.5rem;
}


.entries-grid .entry .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.entries-grid .entry .content .content_text {
    display: flex;
    flex-direction: column;
}



.entries-grid .entry .content .content_buttons {
    display: flex;
    gap: 10px;
}

.entries-grid .entry .content .content_buttons button {
    width: fit-content;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #063511;
}

.entries-grid .entry .content .content_buttons i {
    font-size: 0.9rem;
}

.entries-grid .entry .content span {
    font-size: 1rem;
    font-weight: 500;
}

.entries-grid .entry .content .entry_value {
    font-size: 0.9rem;
    font-weight: 400;
}

.entries-grid .total {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.register-entry {
    margin: 20px 0;
    display: flex;
    padding: 0 40px;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.container input{
    background-color: #50c87818;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.container input:hover{
    background-color: #83b1925e;
}
.container input:focus{
    background-color: #83b1925e;
    box-shadow: inset 2px 2px #83b1925e;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.icones a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    width: 40px;
    height: 40px;
}
.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #378852;
    height: 100%;
    color: #FFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
    
}
.container.active .toggle-left{
    transform: translateX(0) ;
}

.toggle-right{
    right: 0;
    transform: translateX(0);
} 
.container.active .toggle-right{
    transform: translateX(200%) ;
}


.container button,
.container input[type="submit"]{
    background-color: #50C878;
    color: #aff8da;
    font-size: 12px;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 5px;
    cursor: pointer;
}

.container button.hidden,
.container input[type="submit"].hidden{
    background-color: #fff;
    color: #50C878;
    border-color: #c2ffd6;
}


.back {
    color: #FFF;
    text-decoration: none;
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    font-size: 1.2rem;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
}

.container .currencies {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0px 40px;
}


.container .currencies div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    text-align: center;
}