@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
/*Importação da fonte "Montserrat", utilizada abaixo:*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; /*Usando Montserrat*/
}

body{
    background: #50C878;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
} 
/*Formatação do corpo do site (Fundo).*/

/*.dark-mode{
    height: 30px;
    width: 70px;
    margin-right: 85%;
    background:rgb(179, 255, 208);
    appearance: none;
    border-radius: 180px;
    box-shadow: inset 0 4px 15px rgb(65, 117, 65), 
                inset 0 4px 20px rgb(97, 177, 97), 
                inset 0 -4px 5px rgb(204, 253, 204);
    position: relative;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.dark-mode::before{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 2px;
    left: 4px;
    content: "";
    background: linear-gradient(to bottom, #9affa8, #58a763);
    border-radius: 180px;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 5),
                inset 2px 2px rgba(255, 255, 255, 0.2),
                inset -2px 2px rgba(255, 255, 255, 0.2);
}
.dark-mode:checked{
    background: #053800;
    box-shadow: inset 0 2px 10px rgb(41, 85, 49),
                inset 0 2px 10px rgb(71, 146, 85),
                inset 0 -4px 8px rgb(86, 173, 102);
}

.dark-mode:checked::before{
    left: 43px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 5),
                inset 2px 2px rgba(255, 255, 255, 0.2),
                inset -2px 2px rgba(255, 255, 255, 0.2);
    background: #2f7547;
}
.dark-mode::after{
    content: "";
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 10px;
    left: 40px;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.dark-mode .active{
    color: #053800;
}*/

.container{
    color: rgb(35, 105, 62);
    outline: rgb(0, 255, 128);
    outline-width: 15px;
    background-color: #ffffff;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    width: 750px;
    max-width: 100%;
    height: 80%;
}
/*O "container" é a caixa onde se encontram os espaços para inserir e-mail, senha, e também para redirecionar o usuário para a tela de "Esqueceu a senha"*/

.container p{
    color: rgb(255, 255, 255);
    outline: rgb(0, 255, 128);
    outline-width: 15px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #063511;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    outline: rgb(0, 255, 128);
    outline-width: 15px;
}

.container button{
    background-color: #50C878;
    color: #aff8da;
    font-size: 12px;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 5px;
    cursor: pointer;
}
.container button:hover{
    transition: background-color 0.5s, color 0.3s;
    background-color: #50c878a8;
    color: #06351165;
}
.container button:not(:hover){
    transition: background-color 0.5s, color 0.3s;
    background-color: #50C878;
    color: aff8da;
}
.container button.hidden{
    background-color: #fff;
    color: #50C878;
    border-color: #c2ffd6;
}

.container form{
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    text-align: center;
}

.container input{
    background-color: #50c87818;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.container input:focus{
    background-color: #83b1925e;
    box-shadow: inset 2px 2px #83b1925e;
}
.container input:hover{
    background-color: #90caa45e;
    color: #063511;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.icones a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.icones a:hover{
    transform: translateX(-2px) translateY(-2px);
    animation: move;
    background-color: #f5f5f5;
}
.icones a:not(:hover){
    background-color: #fff;
    color: #063511;
    box-shadow: 0 0 #fff;
}

#fb_login:hover{
    color: #0165E1;
    box-shadow: 3px 3px #0165E118;
    text-shadow: 1px 1px 1px #006cd173;
}
#gh_login:hover{
    color: #8c00ff;
    box-shadow: 3px 3px #8c00ff18;
    text-shadow: 1px 1px 1px #8c00ff73;
}
#lkd_login:hover{
    color: #0A66C2;
    box-shadow: 3px 3px #0A66C218;
    text-shadow: 1px 1px 1px #005da873;
}
#g_login:hover{
    color: #ff0000;
    box-shadow: 3px 3px #ff000018;
    text-shadow: 1px 1px 1px #af000073;
}

#register:hover{
    transition: background-color 0.5s, color 0.3s;
    background-color: #deffe9;
    color: #569945;
}

#login:hover{
    transition: background-color 0.5s, color 0.3s;
    background-color: #deffe9;
    color: #569945;
}
.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #378852;
    height: 100%;
    color: #FFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
    
}
.container.active .toggle-left{
    transform: translateX(0) ;
}

.toggle-right{
    right: 0;
    transform: translateX(0);
} 
.container.active .toggle-right{
    transform: translateX(200%) ;
}

#forgotpassword:hover{
    color: #50C878;
}